<%- include('../partials/header') %>

<div class="container py-4">
  <h2 class="h4 mb-3"><%= marca.id ? 'Editar' : 'Nueva' %> marca</h2>

  <form action="<%= marca.id ? '/inventario/marcas/'+marca.id+'/editar'
                              : '/inventario/marcas/nueva' %>"
        method="POST" class="row g-3">

    <div class="col-md-6">
      <label class="form-label">Nombre</label>
      <input name="nombre" required class="form-control" value="<%= marca.nombre %>">
    </div>

    <div class="col-12">
      <label class="form-label">Descripción</label>
      <textarea name="descripcion" rows="3" class="form-control"><%= marca.descripcion %></textarea>
    </div>

    <div class="col-12">
      <button class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
      <a href="/inventario/marcas" class="btn btn-secondary ms-2">Cancelar</a>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>
