<%- include('../partials/header') %>

<div class="container py-4">
  <h2 class="h4 mb-3"><%= unidad.id ? 'Editar' : 'Nueva' %> unidad</h2>

  <form action="<%= unidad.id ? '/inventario/unidades/' + unidad.id + '/editar'
                               : '/inventario/unidades/nueva' %>" method="POST" class="row g-3">

    <div class="col-md-6">
      <label class="form-label">Nombre</label>
      <input name="nombre" required class="form-control" value="<%= unidad.nombre %>">
    </div>

    <div class="col-md-3">
      <label class="form-label">Símbolo</label>
      <input name="simbolo" required class="form-control" value="<%= unidad.simbolo %>">
    </div>

    <div class="col-12">
      <button class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
      <a href="/inventario/unidades" class="btn btn-secondary ms-2">Cancelar</a>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>
